body {
  background: radial-gradient(
    96.74% 276.79% at 3.59% 5.28%,
    #f0f4ff 0%,
    #a5b6ee 100%
  );
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 360px;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  /* shadow */
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
}

.title {
  margin-top: 48px;
}
